<launch>
  <!-- Read navigation goals from user and publish to topic -->
  <node pkg="tb3_navigation_goal" type="read_user_input.py" name="read_user_input" output="screen"/>

  <!-- Read navigation goals from topic and set to move_base -->
  <node pkg="tb3_navigation_goal" type="set_nav_goal_from_topic.py" name="set_nav_goal" output="screen"/>

</launch>
