<?xml version="1.0"?>
<launch>
  <!-- Read navigation goals from user and publish to topic -->
  <node pkg="tb3_navigation_goal" type="read_user_input.py" name="read_user_input" output="screen"/>

  <!-- Goal control node -->
  <node pkg="tb3_navigation_goal" type="goal_control.py" name="goal_control_node" output="screen">
    <param name="user_input_topic" value="goals" />
  </node>
</launch>
